.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    @media screen and (max-width:800px) {
      padding: 0px;
      width: 50px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      width: max-content;
    }

    @media screen and (max-width:800px) {
      width: 80%;
    }
  }

  @media screen and (max-width:800px) {
    height: 60px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}